@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

:root {
  /* Primary */
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);

  /* Neutral */

  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);

  /* (with 75% opacity for lightbox background) */
  --black: hsl(0, 0%, 0%);
}

body {
  font-family: "Space Grotesk", sans-serif;
}

/* ---------- Header styles ---------- */

header {
  display: flex;
  justify-content: center;
}

.header-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 2rem;

  border-bottom: 2px solid var(--light-grayish-blue);
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo .menu-icon,
.logo .close-icon {
  display: none;
  cursor: pointer;
}

.logo h3 {
  font-size: 1.5rem;
  cursor: pointer;
}

.middle-section,
nav ul {
  display: flex;
  align-items: center;
}

.middle-section img {
  display: none;
  cursor: pointer;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

nav ul li {
  position: relative;
}

nav ul li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: var(--dark-grayish-blue);
  cursor: pointer;

  padding: 2rem 0;
  border-bottom: 4px solid transparent;
  transition: all 0.25s ease-in-out;
}

nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 4px;
  background-color: var(--orange);
  border-radius: 2px;
  transition: width 0.3s ease-in-out;
}

nav ul li a:hover,
nav ul li a.active {
  border-bottom: 4px solid var(--orange);
  color: var(--very-dark-blue);
}

.right-section {
  display: flex;
  align-items: center;
  gap: 2rem;
  position: relative;
}

.right-section img {
  cursor: pointer;
}

.right-section .avatar-pic {
  width: 3rem;
  height: 3rem;

  border: 2px solid transparent;
  border-radius: 50%;
  transition: border 0.3s ease-in-out;
}

.avatar-pic:hover {
  border: 2px solid var(--orange);
  border-radius: 50%;
}

/* Header media query */

@media (max-width: 768px) {
  .logo .menu-icon {
    display: block;
    cursor: pointer;
  }

  nav ul {
    display: none;
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    background-color: var(--very-dark-blue);
    flex-direction: column;
    padding: 2rem 0;
  }

  nav ul.show {
    display: flex;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    padding: 1rem;
    border-bottom: none;
    color: var(--white);
  }

  nav ul li a:hover,
  nav ul li a.active {
    /* border-bottom: 4px solid var(--orange); */
    color: var(--white);
  }
}

/* Contact container */


/* Footer container */

.footer-container {
  width: 100%;
  max-width: 1200px;
  padding: 2rem 5rem; 
  margin: 2rem auto;
  background-color: var(--light-grayish-blue);
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.7rem;
}

.footer-logo h3 {
  font-size: 1.5rem;
  color: var(--very-dark-blue);
  cursor: pointer;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.social-icons i {
  font-size: 1.5rem;
  color: var(--dark-grayish-blue);
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.social-icons i:hover {
  color: var(--black);
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 0.85rem;
}

.footer-links ul li a {
  text-decoration: none;
  margin-bottom: 2.5rem;

  font-size: 14px;
  font-weight: 500;
  color: var(--dark-grayish-blue);
  cursor: pointer;

  transition: all 0.25s ease-in-out;
}

.footer-links ul li a:hover {
  color: var(--very-dark-blue);
}


.footer-container p {
  font-weight: 700;
  color: var(--very-dark-blue);
  margin-top: 2rem;
  text-align: center;
}