@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary */
  --green-400: hsl(176, 50%, 47%);
  --green-700: hsl(176, 72%, 28%);
  --bg: rgb(249, 255, 253);
  --white: hsl(0, 0%, 100%);

  /* Neutral */
  --black: hsl(0, 0%, 0%);
  --gray-100: hsl(0, 0%, 91%);
  --gray-500: hsl(0, 0%, 48%);

  --attribution: hsl(228, 45%, 44%);
}

body {
  font-family: "Commissioner", sans-serif;
  /* background-color: var(--bg); */
  background-color: red;
}

p {
  color: var(--gray-500);
  font-size: 14px;
  font-weight: 500;
}

/* Navbar */

header {
  width: 100%;
  height: 350px;
  background-image: url("images/image-hero-desktop.jpg");
  background-size: cover;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 5rem;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

nav ul li a {
  text-decoration: none;
  font-size: 14px;
  color: var(--white);
  cursor: pointer;
}

.menu {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--attribution);
}

@media (max-width: 768px) {
  header {
    background-image: url("images/image-hero-desktop.jpg");
    background-position: center;
    background-size: cover;
  }
}

@media (max-width: 600px) {
  .navbar {
    padding: 2rem 1.5rem;
  }

  nav {
    width: 100%;
    /* flex-direction: column;
    align-items: center;
    justify-content: center; */
  }

  nav ul {
    display: none;
    width: 100%;
    flex-direction: column;
    gap: 2rem;
    transition: all 0.7s ease-in-out;
    opacity: 0;
    transform: translateY(-20px);

    background-color: red;
  }

  nav ul li a {
    display: block;
    width: 100%;
  }

  /* Show menu when active */
  nav.active ul {
    display: flex;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .menu {
    display: inline-block;
  }

  /* Icon toggling */
  .menu .close-icon {
    display: none;
  }

  .navbar.active .menu .close-icon {
    display: inline-block;
  }

  .navbar.active .menu .open-icon {
    display: none;
  }
}

/* Main Content */

main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -70px;
  /* z-index: 99; */
}

section {
  position: relative;
  width: 600px;
  height: auto;
  background-color: var(--white);
  border-radius: 12px;
  padding: 3rem;
}

.mastercraft-logo {
  position: absolute;
  top: -28px;
  left: 45%;
  transform: translateY(-50%, -50%);
}

.text-content {
  text-align: center;
}

.text-content h2 {
  color: var(--black);
  margin-bottom: 0.85rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.project-btn {
  border: none;
  background-color: var(--green-400);
  padding: 1.15rem 2rem;
  border-radius: 30px;
  color: var(--white);
  font-weight: 500;
  cursor: pointer;
}

.bookmark-btn {
  width: 160px;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: none;
  background-color: var(--gray-100);
  border-radius: 30px;
  color: var(--gray-500);
  font-weight: 700;
  cursor: pointer;
}

.bookmark-btn img {
  width: 45px;
  height: auto;
}

.bookmark-btn span {
  margin-right: 0.75rem;
}
